In [1]:
# array

In [2]:
l=[1,2,3,4,'R']

In [5]:
a=array(l)

NameError: name 'array' is not defined

In [50]:
# importing numpy lib.
import numpy as np

In [51]:
a=np.array(l)

In [52]:
a

array([1, 2, 4, 7, 8])

In [53]:
type(a)

numpy.ndarray

In [54]:
# Pandas - Data import and export

In [55]:
import pandas as pd
import numpy as np

In [56]:
dataset=pd.read_csv('movie.csv')

In [57]:
type(dataset)

pandas.core.frame.DataFrame

In [58]:
dataset.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

In [59]:
dataset.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [60]:
dataset.values

array([['Color', 'James Cameron', 723.0, ..., 7.9, 1.78, 33000],
       ['Color', 'Gore Verbinski', 302.0, ..., 7.1, 2.35, 0],
       ['Color', 'Sam Mendes', 602.0, ..., 6.8, 2.35, 85000],
       ...,
       ['Color', 'Benjamin Roberds', 13.0, ..., 6.3, nan, 16],
       ['Color', 'Daniel Hsia', 14.0, ..., 6.3, 2.35, 660],
       ['Color', 'Jon Gunn', 43.0, ..., 6.6, 1.85, 456]], dtype=object)

In [61]:
dataset.head()  # display first 5 rows

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [62]:
dataset.head(2)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0

In [63]:
dataset.tail()  # display last 5 rows

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [64]:
director_name=dataset['director_name']

In [65]:
type(director_name)

pandas.core.series.Series

In [66]:
director_name.dtype

dtype('O')

In [67]:
director_name.head()

0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
4          Doug Walker
Name: director_name, dtype: object

In [68]:
director_name.head(4)

0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
Name: director_name, dtype: object

In [69]:
ds1=pd.DataFrame(director_name)

In [70]:
type(ds1)

pandas.core.frame.DataFrame

In [71]:
ds1.to_csv('director_name1.csv',columns=['director_name'])

In [72]:
ds2=pd.read_csv('director_name1.csv')

In [73]:
type(ds2)

pandas.core.frame.DataFrame

In [74]:
ds2.dtypes

Unnamed: 0        int64
director_name    object
dtype: object

In [75]:
ds2['director_name'].head(2)

0     James Cameron
1    Gore Verbinski
Name: director_name, dtype: object

In [77]:
l=[1,2,4,7,8]

In [78]:
a=np.array(l)

In [79]:
ds3=pd.DataFrame(a)

In [80]:
type(ds3)

pandas.core.frame.DataFrame

In [81]:
ds3.dtypes

0    int32
dtype: object

In [82]:
ds3

   0
0  1
1  2
2  4
3  7
4  8

In [83]:
def table5(x):
    for i in range(1,21):
        print(x," x ",i," = ",x*i)

In [84]:
table5(4)

4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40
4  x  11  =  44
4  x  12  =  48
4  x  13  =  52
4  x  14  =  56
4  x  15  =  60
4  x  16  =  64
4  x  17  =  68
4  x  18  =  72
4  x  19  =  76
4  x  20  =  80

In [85]:
lt=[]
i=100
while i>=1:
    lt.append(i)
    i=i-2
print(lt)
lta=np.array(lt)
lta

[100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

array([100,  98,  96,  94,  92,  90,  88,  86,  84,  82,  80,  78,  76,
        74,  72,  70,  68,  66,  64,  62,  60,  58,  56,  54,  52,  50,
        48,  46,  44,  42,  40,  38,  36,  34,  32,  30,  28,  26,  24,
        22,  20,  18,  16,  14,  12,  10,   8,   6,   4,   2])

In [86]:
ds5=pd.DataFrame(lta)

In [87]:
ds5.to_csv('testexe2.csv')

In [88]:
type(ds5)

pandas.core.frame.DataFrame

In [89]:
ds5

      0
0   100
1    98
2    96
3    94
4    92
5    90
6    88
7    86
8    84
9    82
10   80
11   78
12   76
13   74
14   72
15   70
16   68
17   66
18   64
19   62
20   60
21   58
22   56
23   54
24   52
25   50
26   48
27   46
28   44
29   42
30   40
31   38
32   36
33   34
34   32
35   30
36   28
37   26
38   24
39   22
40   20
41   18
42   16
43   14
44   12
45   10
46    8
47    6
48    4
49    2